<% include head.ejs %>
    <% include nav.ejs %>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>SR GAME</h1>
            </div>
        </div>

        <div class="container">
            <div id='game'>
                <div id='gameField'>
                </div>
                <div id='gameInfo'>
                    <div id='points'>
                        <div>Your score:</div>
                        <div id='score'>0</div>
                        <div>Speed:</div>
                        <div id='speed'>1</div>
                    </div>
                    <div id='gamemsg'>
                        <div id='nextRndMsg'>Next Round!</div>
                        <div id='loseMsg'>You lose! Try again</div>
                    </div>
                    <div id='rules'>
                        <p>Press Space to start or restart the game</p>
                        <p>Use arrows to move</p>
                        <p>Press Esc to quit</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"> Vous êtes prêt ?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="pseudo" class="control-label">Pseudo:</label>
                            <input type="text" class="form-control" id="pseudo">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnStart" data-dismiss="modal" class="btn btn-success">ALLEZ !</button>
                    </div>
                </div>
            </div>
        </div>

        <% include foot.ejs %>